parameters:
	ignoreErrors:
		-
			rawMessage: Cannot access property $cost on AichaDigital\Lara100\Tests\Models\TestModelWithTrait|null.
			identifier: property.nonObject
			count: 1
			path: tests/Feature/HasBase100TraitTest.php

		-
			rawMessage: Cannot access property $cost on object|null.
			identifier: property.nonObject
			count: 1
			path: tests/Feature/HasBase100TraitTest.php

		-
			rawMessage: Cannot access property $price on AichaDigital\Lara100\Tests\Models\TestModelWithTrait|null.
			identifier: property.nonObject
			count: 1
			path: tests/Feature/HasBase100TraitTest.php

		-
			rawMessage: Cannot access property $price on object|null.
			identifier: property.nonObject
			count: 1
			path: tests/Feature/HasBase100TraitTest.php

		-
			rawMessage: Cannot access property $tax on AichaDigital\Lara100\Tests\Models\TestModelWithTrait|null.
			identifier: property.nonObject
			count: 1
			path: tests/Feature/HasBase100TraitTest.php

		-
			rawMessage: Cannot access property $tax on object|null.
			identifier: property.nonObject
			count: 1
			path: tests/Feature/HasBase100TraitTest.php

		-
			rawMessage: 'Unable to resolve the template type TAndValue in call to method Pest\Expectation<mixed>::and()'
			identifier: argument.templateType
			count: 3
			path: tests/Feature/HasBase100TraitTest.php

		-
			rawMessage: 'Parameter #3 $value of method AichaDigital\Lara100\Casts\Base100Int::set() expects int|null, float given.'
			identifier: argument.type
			count: 3
			path: tests/Unit/Casts/Base100IntTest.php

		-
			rawMessage: 'Parameter #3 $value of method AichaDigital\Lara100\Casts\Base100Int::set() expects int|null, string given.'
			identifier: argument.type
			count: 2
			path: tests/Unit/Casts/Base100IntTest.php

