includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
    paths:
        - src
        - tests

    level: max

    tmpDir: build/phpstan

    checkOctaneCompatibility: true
    checkModelProperties: true
    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        # Pest internal methods - these are intentional design decisions by Pest
        - '#Call to method .+ of internal class Pest\\.*#'
